body {
    margin-left: 30px;
    background-image: url("img/faded-office.png");
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}

h1 {
    font-size: 45px;
}

.btn {
    background: #0ea5e9;
    color: white;
    font-family: inherit;
    padding: 15px 30px 15px 30px;
    border: none;
    font-weight: bold;
    
}

#underline {
    border-bottom: 5px solid #0ea5e9;
}

.main {
    width: 300px;
    margin: 60px 0 0 20px;
4